/* .alpaca-item-container{
  border-collapse: separate;
  border-color: gray;
  border: 1px dashed #ccc;
  padding:15px;
  margin:2px 0px;
}
.alpaca-fieldset-legend{
    font-size:22px !important;
}
.alpaca-item-container:hover{
  background:rgba(150, 150, 150, 0.1);
}
.alpaca-fieldset-array-item-toolbar{
  display: none;
  position: absolute;
  margin-top: 5px;
  right: 20px;
  z-index:1000;
}  */



.alpaca-fieldset span, .alpaca-fieldset label{
  text-shadow:none;
  color:#666 !important;

}

.alpaca-fieldset-array-toolbar{
  margin-top:-20px;
}
.alpaca-fieldset-array-item-toolbar{
  position:absolute; 
  top:46px;
  float:right;
}
.alpaca-fieldset-items-container{
  margin-bottom: 20px;
}
.alpaca-item-container{
  margin-top:-40px;
}
.alpaca-controlfield-container{
 margin-bottom:-20px;
}

fieldset.alpaca-fieldset fieldset.alpaca-fieldset{
  margin-top:20px;
  margin-bottom:10px;
}

.alpaca-fieldset-legend{
  margin-bottom:10px;
} 