.alpaca-item-container{
  border-collapse: separate;
  border-color: gray;
  border: 1px dashed #ccc;
  padding:15px;
  margin:2px 0px;
}
.alpaca-fieldset-legend{
    font-size:22px !important;
}
.alpaca-item-container:hover{
  background:rgba(230, 230, 139, 0.41);
}
.alpaca-fieldset-array-item-toolbar{
  display: none;
  position: absolute;
  margin-top: 5px;
  right: 20px;
  z-index:1000;
}