/* .alpaca-item-container{
  border-collapse: separate;
  border-color: gray;
  border: 1px dashed #ccc;
  padding:15px;
  margin:2px 0px;
}
.alpaca-fieldset-legend{
    font-size:22px !important;
}
.alpaca-item-container:hover{
  background:rgba(150, 150, 150, 0.1);
}
.alpaca-fieldset-array-item-toolbar{
  display: none;
  position: absolute;
  margin-top: 5px;
  right: 20px;
  z-index:1000;
}  */

.alpaca-fieldset .form-group{
  margin:0px;
}
.alpaca-fieldset .alpaca-controlfield{
  margin:0px;
  padding:0px;
}
.alpaca-fieldset legend{
  margin:0px;
  padding:0px;
}



.alpaca-fieldset span, .alpaca-fieldset label{
  text-shadow:none;
  color:#666 !important;

}


.alpaca-fieldset-array-item-toolbar{
  position:absolute; 
  top:41px;
  float:right;
}

.alpaca-item-container:hover{
  background:rgba(150, 150, 150, 0.1);
}
.alpaca-item-container{
   border-bottom:1px dashed #ccc;
}
